
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

#whatsapp-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    animation: pulse 2s infinite;
}

#whatsapp-icon img {
    width: 50px;
    /* Adjust the size as needed */
    height: auto;
    border-radius: 50%;
    border: 2px solid #fff;
    /* Add a border to the icon */
}

#scan-icon {
    width: 50px; /* Adjust the size of the circle */
    height: 50px; /* Adjust the size of the circle */
    background-color: #c78c20; /* Set the background color to red for the circle */
    border-radius: 50%; /* Create a circular shape */
    overflow: hidden; /* Ensure the image stays within the circle */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#scan-icon img {
    width: 70%; /* Make the image take up the full width of the circle */
    height: auto;
    display: block; /* Remove any extra spacing below the image */
    border-radius: 50%; /* Ensure the image takes on the shape of the circle */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#working-hours-status {
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.status-open {
    background-color: #4CAF50;
    /* Green */
    color: #fff;
    /* White */
    padding: 5px 10px;
    border-radius: 10px;
    /* Rounded borders */
}

.status-close {
    background-color: #e12d00;
    /* red */
    color: #fff;
    /* White */
    padding: 5px 10px;
    border-radius: 10px;
    /* Rounded borders */
}


#status-until {
    color: white;
}

.cover-photo {
    width: 100%;
    height: 300px;
    background-image: url('assets/images/files/mk/cover.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}


.profile {
    text-align: center;
    position: relative;
    top: -75px;
    /* Adjust based on your cover photo height */
}

.profile h2 {
    font-size: 23px;
    color: #ffffff;
    margin-bottom: 5px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInFromBottom 1s ease-out 0.5s forwards;

}

/* Style for the subtitle */
.profile .subtitle {
    font-size: 14px;
    color: #ffffff;
    /* Adjust the color as needed */
    margin-top: 5px;
    /* Adjust the margin as needed */
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInFromBottom 1s ease-out 1s forwards;

}

@keyframes fadeInFromBottom {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

#working-hours-status {
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    animation: fadeInFromBottom 1s ease-out 2.3s forwards;
    opacity: 0;
    transform: translateY(50px);
}

.add-to-contacts {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: #007bff;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    animation: fadeInFromBottom 1s ease-out 1.5s forwards;
    opacity: 0;
    transform: translateY(50px);
}


.add-to-contacts span {
    color: white;
    ;
}

.add-to-contacts:hover {
    background-color: #ffa600;
    color: #fff;
}

.add-to-contacts i {
    font-size: 18px;
    margin-right: 5px;
    color: white;
}

.contact-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -47px;
}

.contact-icons a {
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s ease;
}

.contact-icons i {
    font-size: 24px;
    margin-bottom: 5px;
}

.contact-icons a:hover {
    color: #007bff;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #000000, #FCD516);
    box-shadow: 0 0 10px rgb(255 235 0);

}

.toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.toggle-content.show {
    max-height: 1000px;
}

.toggle-btn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #949581;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #d1e0ff;
}

.toggle-btn i {
    font-size: 16px;
}




.service-item,
.faq-item,
.review {
    margin-top: 10px;
}

.service-icon,
.faq-item label {
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.service-item:hover .service-icon,
.faq-item label:hover {
    color: #007bff;
}

.service-text,
.faq-item p,
.review p,
.working-hours p,
.about-us p {
    font-size: 16px;
    color: white;
}

.faq-item label {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: left;
}

.faq-item label:hover {
    background-color: #d1e0ff;
}

.faq-item p {
    overflow: hidden;
    transition: height 0.5s ease;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    height: auto;
    color: black;

}

.service-item p {
    overflow: hidden;
    transition: height 0.5s ease;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    height: auto;
    color: black;
}

.review {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.review .subtitle {
    font-style: italic;
    /* Italicize the subtitle */
    color: #888;
    /* Set a subdued color for the subtitle */
}

.star-rating {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.star-rating i {
    color: #ffd700;
    /* Gold color for stars */
    font-size: 18px;
    margin-right: 2px;
}

.footer {
    color: black;
    padding: 20px;
    text-align: center;
}

.contact-info p {
    margin: 0;
}

.social-icons a {
    font-size: 20px;
    color: #000;
}

.copyright p {
    margin: 10px 0 0;
    font-size: 14px;
}

.share-section {
    text-align: center;
    margin-top: 20px;
}
.share-section p
{
    background-color: white;
font-weight: bold;
border-radius: 10%;
}
.social-share-icons {
    margin-top: 10px;
}

.share-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    /* Adjust the color based on your design */
    text-decoration: none;
}



.waze i {
    color: #FCD516;
    /* Google Maps color */
}

.facebook i {
    color: #FCD516;
}

.whatsapp i {
    color: #FCD516;
}

.phone i {
    color: #FCD516;
}

.email i {
    color: #FCD516;
}

.website i {
    color: #FCD516;
}

.instagram i {
    color: #FCD516;
}

.tiktok i {
    color: #FCD516;
}

.working-hours,
.about-us,
.services,
.gallery-container,
.faq,
.reviews {
    text-align: center;
    margin-top: 30px;
    border-top: 2px solid #ffffff;
    padding-top: 20px;
}

.working-hours p {
    font-size: 16px;
    margin-top: 10px;
}

.gallery-container h4 {
    background-color: burlywood;
    border-radius: 10%;
}

.about-us h3,
.reviews h3,
.gallery-container h3,
.working-hours h3,
.faq h3,
.services h3 {
    margin: 0 10px;
    /* Adjust margin for better spacing */
    background-color: #f2f2f2;
    color: #000;
    /* Adjust the color as needed */
}


.line {
    flex-grow: 1;
    border-top: 1px solid #000;
    /* Adjust line styling as needed */
}


#language-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    /* Light background color for the menu */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional: Add a subtle shadow */
}

#language-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    /* Text color for the menu items */
}

#language-menu a:hover {
    background-color: #e0e0e0;
    /* Background color on hover */
}

#language-menu-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 10%;
}

#language-flag {
    margin-right: 5px;
    width: 20px;
    /* Adjust the size as needed */
    height: auto;
}

.languages {
    position: relative;
    top: 20px;
    margin-right: 10px;
}


.gallery-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gallery,
.gallery2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 15px;
}

.gallery img,
.gallery2 img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}


.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}


.reviews-slider {
    position: relative;
    overflow: hidden;
}

.reviews {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.review {
    width: 100%;
}

.arrow {
    position: absolute;
    top: 59%;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.image-container {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.slider-container {
    position: relative;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid rgb(255, 242, 54);
    border-radius: 5%;
    background-color: ghostwhite;
}

.slide img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.slide h3 {
    margin: 5px 0;
}

.stars {
    color: #ffd700;
    /* gold color for stars */
    margin: 5px 0;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slide p.subtitle {
    margin: 5px 0;
    font-style: italic;
    color: #666;
}

.sticky-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

#barcode-dialog {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
    text-align: center;
    height: 57%;
    z-index: 99999999;
}

#barcode-dialog img {
    max-width: 100%;
    height: auto;
}

.dialog-text {
    margin-top: 10px;
}

#close-dialog {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
