
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #105A5B;
}



.cover-photo {
    position: relative;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
    width: 100%;
    height: 300px;
}
.cover-photo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/images/files/dr/cover.jpg');
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}


.toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.toggle-content.show {
    max-height: 1000px;
}

.toggle-btn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #949581;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #d1e0ff;
}

.toggle-btn i {
    font-size: 16px;
}

.service-item,
.faq-item,
.review {
    margin-top: 10px;
}

.service-icon,
.faq-item label {
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.service-item:hover .service-icon,
.faq-item label:hover {
    color: #007bff;
}

.service-text,
.faq-item p,
.review p,
.working-hours p,
.about-us p {
    font-size: 16px;
    color: white;
    background-color: rgba(16, 90, 91, 0.7);
}

.faq-item label {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: left;
}

.faq-item label:hover {
    background-color: #d1e0ff;
}

.faq-item p {
    overflow: hidden;
    transition: height 0.5s ease;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    height: auto;
    color: black;

}

.service-item p {
    overflow: hidden;
    transition: height 0.5s ease;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    height: auto;
    color: black;
}

.review {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.review .subtitle {
    font-style: italic;
    /* Italicize the subtitle */
    color: #888;
    /* Set a subdued color for the subtitle */
}

.star-rating {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.star-rating i {
    color: #ffd700;
    /* Gold color for stars */
    font-size: 18px;
    margin-right: 2px;
}


.contact-info p {
    margin: 0;
}


.waze i {
    color: #FCD516;
    /* Google Maps color */
}

.facebook i {
    color: #FCD516;
}

.whatsapp i {
    color: #FCD516;
}

.phone i {
    color: #FCD516;
}

.email i {
    color: #FCD516;
}

.website i {
    color: #FCD516;
}

.instagram i {
    color: #FCD516;
}

.tiktok i {
    color: #FCD516;
}

.working-hours,
.about-us,
.services,
.gallery-container,
.faq,
.reviews {
    text-align: center;
    margin-top: 30px;
    border-top: 2px solid #ffffff;
    padding-top: 20px;
}

.working-hours p {
    font-size: 16px;
    margin-top: 10px;
}

.gallery-container h4 {
    background-color: burlywood;
    border-radius: 10%;
}

.about-us h3,
.reviews h3,
.gallery-container h3,
.working-hours h3,
.faq h3,
.services h3 {
    margin: 0 10px;
    /* Adjust margin for better spacing */
    background-color: #f2f2f2;
    color: #000;
    /* Adjust the color as needed */
}


.line {
    flex-grow: 1;
    border-top: 1px solid #000;
    /* Adjust line styling as needed */
}


.gallery-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gallery,
.gallery2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 15px;
}

.gallery img,
.gallery2 img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}


.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}


.reviews-slider {
    position: relative;
    overflow: hidden;
}

.reviews {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.review {
    width: 100%;
}

.arrow {
    position: absolute;
    top: 59%;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.image-container {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.slider-container {
    position: relative;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid rgb(255, 242, 54);
    border-radius: 5%;
    background-color: ghostwhite;
}

.slide img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.slide h3 {
    margin: 5px 0;
}

.stars {
    color: #ffd700;
    /* gold color for stars */
    margin: 5px 0;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slide p.subtitle {
    margin: 5px 0;
    font-style: italic;
    color: #666;
}

.container {
    background: url("assets/images/files/dr/background.jpg");
    box-shadow: 0 0 10px rgb(0 217 227);
    background-position: center; /* Adjust the position as needed */
    background-size: 177%;
}


.contact-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-icons a {
    flex: 0 1 calc(25% - 20px);
    text-align: center;
    text-decoration: none;
    color: #ffffff; /* Adjust the color as needed */
}

.contact-icons i {
    font-size: 24px; /* Adjust the font size as needed */
    margin-bottom: 8px;
    color: white;
}

.contact-icons span {
    font-size: 14px; /* Adjust the font size as needed */
}
#language-menu-btn {
    background-color: #3b3a3a6b;
}

#scan-icon{
    background-color: #105A5B;
}