
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    background: url("assets/images/files/background.jpeg");
    background-color: #437bb3;
background-blend-mode: multiply; /* This blends the background color with the image */
}



.cover-photo {
    position: relative;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
    width: 100%;
    height: 250px;
}
.cover-photo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/images/files/cover.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    /* background-color: #a5998d; */
    background-blend-mode: multiply; 
}

.image-container {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}
.toggle-content {
    overflow: hidden;
    display: none;
    transition: max-height 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1%;
}

.toggle-content li{
    text-align: right;
    font-weight: bold;
    color: white;
    font-size: 15px;
    padding-top: 5px;
}

.toggle-content.show {
    max-height: 1000px;
}


.toggle-btn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    background-color: rgba(225, 194, 95, 0.5) !important;
    transition: background-color 0.3s ease;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.toggle-btn:hover {
    background-color: #d1e0ff;
}

.toggle-btn i {
    font-size: 16px;
}

.service-item,
.faq-item,
.review {
    width: 90%;
    margin: 0 auto;
}

.service-icon,
.faq-item label {
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.service-item:hover .service-icon,
.faq-item label:hover {
    color: #007bff;
}

.service-text,
.faq-item p,
.review p,
.working-hours p
{
    font-size: 19px;
    color: white;
}

.faq-item label {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: left;
}

.faq-item label:hover {
    background-color: #d1e0ff;
}

.faq-item p {
    overflow: hidden;
    transition: height 0.5s ease;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    height: auto;
    color: black;

}

.service-item p {
    overflow: hidden;
    transition: height 0.5s ease;
    padding: 10px;
    margin-top: 10px;
    height: auto;
    color:#ffffff;
    font-weight: bold;
    margin: 0;
}

.review {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.review .subtitle {
    font-style: italic;
    /* Italicize the subtitle */
    color: #888;
    /* Set a subdued color for the subtitle */
}

.star-rating {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.star-rating i {
    color: #ffd700;
    /* Gold color for stars */
    font-size: 18px;
    margin-right: 2px;
}


.contact-info p {
    margin: 0;
}


.waze i {
    color: #FCD516;
    /* Google Maps color */
}

.facebook i {
    color: #FCD516;
}

.whatsapp i {
    color: #FCD516;
}

.phone i {
    color: #FCD516;
}

.email i {
    color: #FCD516;
}

.website i {
    color: #FCD516;
}

.instagram i {
    color: #FCD516;
}

.tiktok i {
    color: #FCD516;
}

.working-hours,
.about-us,
.services,
.gallery-container,
.faq,
.reviews {
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
}

.working-hours p {
    font-size: 16px;
    margin-top: 10px;
}

.gallery-container h4 {
    background-color: burlywood;
    border-radius: 10%;
}
#gallery {
    display: flex;
    flex-direction: column;
  }

  #gallery a:first-child img {
    width: 90%;
    margin: 0 20px;
}

  #gallery a:not(:first-child) {
    margin-top: 10px; /* Adjust the margin as needed */
  }
.about-us h2,
.reviews h2,
.share-section h2,
.slider-container h2,
.working-hours h2,
.faq h2,
.services h2 ,
.contact-form-details h2{
    color:white;
    text-decoration: underline;
   /* font-family: 'Heebo', sans-serif; */;
}

.gallery-container {
    text-align: center; /* Center the text horizontally */
}
#working-hours-status span { 
    color:black
}
.text {
    color: white;
    opacity: 0.996057;
}

.reviews-slider {
    position: relative;
    overflow: hidden;
}
iframe {
    /* You can adjust the max-width if needed */
    max-width: 100%;
}

.reviews {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.review {
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.slider-container {
    position: relative;
    width: 90%;
    margin: 50px auto;
    overflow: hidden;
    text-align: center;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5%;
    background-color: ghostblack;
}

.slide img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.slide h3 {
    margin: 5px 0;
    color:white;
}
.slide p {
    color:white;
}

.stars {
    color: #ffd700;
    /* gold color for stars */
    margin: 5px 0;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    color:white;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slide p {
    font-weight: bold;

}

.profile img {
    width: 70%;
    height: 70%;
    margin-bottom: 0;
    border-radius: 0%;
    margin-top: -4px;
}

.profile .subtitle{
    font-size: 18px !important;
    color: white;
    font-weight: bold !important;
    margin-top: -25px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInFromBottom 1s ease-out 1s forwards;
   /* font-family: 'Heebo', sans-serif; */;

}
.about-us {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInFromBottom 1.5s ease-out 1.5s forwards;
}

.profile h2 { 
    
    font-size: 25px !important;
   /* font-family: 'Heebo', sans-serif; */;
    color:white;
    margin-top:-25px
}
.container {
    background: none;
    box-shadow:0 -5px 10px rgb(232 182 0 / 80%)
    
}


#language-menu-btn {
    background-color: #3b3a3a6b;
}

#scan-icon{
    background-color: #A67614;;
}
#scan-icon i{
    color: white;
}
.about-us p {
    font-size: 19px;
    color: white;
    animation: slideFromBottom 1.6s ease-out forwards;
}
.add-to-contacts {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: #A67614;;
    border-radius: 5px;
    border: 2px solid white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    animation: fadeInFromBottom 1s ease-out 2s forwards;
    opacity: 0;
    transform: translateY(50px);

}


.add-to-contacts span {
    color: white;
   /* font-family: 'Heebo', sans-serif; */;

}

.add-to-contacts:hover {
    background-color: #d8ceab;
    color: #fff;
}

.add-to-contacts i {
    font-size: 18px;
    margin-right: 5px;
    color: white;
}
.contact-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */

    gap: 20px;
    max-width: 800px; /* Adjust as needed */
}
.contact-icons i
{
    color:#DCA330;
}
.contact-icons span { 
   /* font-family: 'Heebo', sans-serif; */
}
.icon-container {
    text-align: center;
    text-decoration: none;
    color: #333; /* Icon color */
    font-size: 14px;
    transition: color 0.3s;
    margin-bottom: 20px; /* Adjust spacing between rows */

}


.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Adjust the circle size */
    height: 50px; /* Adjust the circle size */
    border: 1px solid #DCA330; /* Border color */
    border-radius: 50%; /* Make it circular */
}

.icon-circle:hover {
    color: #007BFF; /* Change icon color on hover */
}

.icon-text {
    display: block;
    font-weight: bold;
    color: white;
}
.error-message{
    color: red;
    font-size: 12px;
}
.imageSlide-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .imageSlide-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .imageSlide-slide {
    min-width: 100%;
    box-sizing: border-box;
  }

  .imageSlide-slide img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .imageSlide-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .imageSlide-dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }

  .imageSlide-dot.active {
    background-color: #555;
  }

  .imageSlide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: gold;
    background: none;
    border: none;
    cursor: pointer;
  }

  .imageSlide-arrow.left {
    left: 10px;
  }

  .imageSlide-arrow.right {
    right: 10px;
  }